pip~=24.2
wheel~=0.44.0
pillow~=10.4.0
pytest~=8.3.2
numpy~=2.1.1
Cython~=3.0.11
setuptools~=72.1.0
pytz~=2024.1
packaging~=24.1
zipp~=3.19.2
platformdirs~=4.2.2
scipy~=1.14.1
pyqtgraph~=0.13.7
pyabf~=2.3.8
matplotlib~=3.9.2
pandas~=2.2.2
